@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {

    font-family: cursive;
    font-family: Arial, Helvetica, sans-serif;  
    }
.first_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#12006a;
    /* height: 3rem; */
    padding: 0rem 18rem;
    color: white;
}
.light_dark button {
    padding: 0.1rem 0.8rem;
    border-radius: 10px;
    border: none;
    background-color:white;
    
}
.second {
    text-align: center;
    background-color: #810095;
    height: 5rem;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.1rem 10rem;
}
.logos {
  margin: 0.1rem 5rem;
}
/* manu-item */
  .topnav {
    /* width: 100%; */
    overflow: hidden;
    background-color: #ffb300;
  }
  
.topnav {
  padding-left: 18rem;
}
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 3rem;
    text-decoration: none;
    font-size: 19px;
    font-weight:500 ;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } */
  
  .topnav .icon {
    display: none;
  }
  .topnav {
    padding:-3rem 0;
  }
/* .navs {
    /* padding: 0.1rem 10rem; *
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb300;
} */

/* photo */
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }
    
    .wrapper.six{
      background-color: #00078e;
    }
    .flicker {
      font-size: 6rem;
      font-family: 'Merienda', sans-serif;
      margin: 1rem auto;
      color: #fffefe61;
      background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
      background: gradient(linear, left top, right top, from(#262728), to(#222), color-stop(0.8, #fff)) no-repeat;
      background-size: 110px 100%;
      -webkit-background-clip: text;
      background-clip: text;
      animation: flick 1.5s infinite;
    }
    @keyframes flick {
      0% {
        background-position: top left;
      }
      100% {
        background-position: top right;
      }
    }
    .upper {
      display: flex;
      justify-content: center;
      align-items:center ;
      margin: 0rem 2rem;
    }
    .upper img {
      height: 5.5rem;
      width: 5.5rem;
    }
    .dipper img {
      height: 5.5rem;
      width: 5.5rem;
    }
    .dipper {
      display: flex;
      justify-content: center;
      align-items:center ;
      margin: 0rem 2rem;
    }
    .h {
      height:6rem;
      width:25rem;
      background-color: aliceblue;
    }
    .upper div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 4rem;
      border:2px solid rgb(169, 165, 165);
    }
    .dipper div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 4rem;
      border:2px solid rgb(169, 165, 165);
    }
    .h11 {
      border-radius:20px 0 0 0;
    }
    .h111 {
      border-radius: 0 0 0 20px;
    }
    .h33 {
      border-radius:0 20px 0 0;
    }
    .h333 {
      border-radius:0 0 20px 0;
    }
    .wel {
      margin: 2rem 10rem; 
      display: flex;
      justify-content:space-between;
      align-items: center;
    }
    .des {
      font-size: 22px;
    }
    .cz {
        margin: 2rem;
        width: 30rem;
        display: flex;
        flex-direction: column;
      justify-content:center;
      align-items: center;
        /* padding:0rem 10rem; */
        background-color: aliceblue;
    }
    .picss {
      margin-top: 3rem;
    
    }
    .hss {
      background-color: #00078e;
      color: white;
      font-weight: 500;
      font-size: 22px;
    }
    .apply {
      background-color: #4c51b6;
      display: flex;
      justify-content: center;
      align-items: center;
      color: yellow;
      height: 15rem;
      border: none;
    }
    .apply button {
      background-color: rgb(255, 179, 0);
      color:white ;
      border: none;
    }
    .apply button {
      margin: 1rem;
      padding:0.7rem 1.5rem;
      font-size: 22px;
      font-weight:500 ;
    }
    .news {
      margin:2rem 10rem;
      font-size: 22px;
    }
    .news p {
      margin: 5rem;
    }

    .loc,.quick,.touch {
      /* height: 13rem; */
      color: white;
      margin: 2rem;
    }
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #464242;
      /* height: 8rem; */
    }
    footer div {
      padding: 3rem;
    }
    .quick a{
        text-decoration: none;
        color: white;
    }
    .quick a:hover {
      color: coral;
    }