*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
    -webkit-user-drag: none;
    font-family: var(--font
    );
}


:root{
    --sky:#98dfd6;
    --yellow:#ffdd83;
    --red:#e21818;
    --blue:#00235b;
    --light-blue:#7171ff;
    --white:#edfffcfe;
    --black:#030036;
    --font:system-ui;

}


.preloader{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    background-color:var(--sky) ;
    max-width: 100vw;
    min-width: 100vw;
}

nav{
    width: 100%;
    height: 3em;
    display: flex;
    color: var(--white);
    font-family: var(--font);
    background-color: var(--blue);
    box-shadow: 0 0 60px #000000df;

}
.date_time_container{
    width: 13em;
    height: 3em;
    padding-left: 0.5em;
    color: #fafafa;
    font-weight: 500;
     border-end-end-radius:60px ;
    
    background-color: var(--blue);
 
   
}
.date_time_container:hover{
    color: var(--black);
   
    background-color: var(--sky);
}
#setting_logo{
    width: 2em;

    position: absolute;
    right: 1em;
    top: 0.4em;
    z-index: 555555;
}
#setting_logo:hover{
    animation: spin 0.2s linear;
    animation-iteration-count: 1;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
   to{
        transform: rotate(20deg);
    }
}

.change_data{
    display: none;
    width: 10em;
    height: 6em;
    line-height: 2em;
    right: 2em;
    top:2em;
    position: absolute;
    background-color: var(--black);
    opacity: 70%;
    border-radius: 15px;
    z-index: 5555566;
}
.change_data p{
    text-align: center;
    color: var( --white);
    border-bottom: 1px solid var(--sky);
    border-radius: 15px;
}
.change_data p:hover{
    background-color: var(--light-blue);
    box-shadow: 0 5px 5px var(--red);
}

.change_data p:nth-child(3)
{
    border: none;
}

ul{
    width: 15em;
    height: 92.55vh;
    background: var(--black);
    color:aliceblue ;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 0 60px #000000c3;
}
#user_img{
    width: 8em;
    margin-top: 2em;
    margin-left: 3.5em;
     margin-bottom: 2em;

}
#user_mode{
    position: relative;
top: -1em;
text-align: center;
font-weight: 500;
font-size: 1.5em;


   
}

.links_container{
    width: 100%;
    height: 60%;
   

    
    padding-top: 2em;
}
.links_container li:nth-child(5)
{
    margin-bottom: 20em;
}
.links_container li{
    margin-left: 2.99em;
    width: 80%;
    height: 3em;
    text-align: center;
    padding-top: 0.7em;
    margin-bottom: 1em;
    font-weight: bold;
font-style: italic;


    
}

.links_container li:hover{
    cursor: pointer;
    color: #030036;
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.active{
    color: #030036;
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.content_main{
    display: none;
    width: 81.2%;
    height: 92.55vh;
    position: absolute;
    top: 3em;
    left: 15.03em;
    padding: 3em;


}


.personal_details{
    width: 100%;
    height: 100%;
    padding: 2em;
    border: 2px solid rgba(255, 255, 255, 0.738);
    border-radius: 30px;
    background-color: #ffffff1c;
    
    
}
.personal_details img{
    margin-left: 2em;
}

.personal_text_area{
   
    width: 60%;
    height:20em;
    position: relative;
    top: 0.3em;
    left: 0.1em;
    /* background-color: #0660f1; */
}
.personal_text{
    width: 60%;
    height: 15em;
    margin-left:1em;
    padding: 0.5em;
    /* background-color: #e21818; */
}
.personal_text h1{
    margin-bottom: 0.5em;
}
.personal_text img{
    margin-left: 0.5em;
}
.personal_text span{
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    margin-left: 0.2em;
}

.random_info{
    width: 30%;
    height: 15em;
    position: absolute;
    top: 15em;
    right: 5em;
   
}
.random_info q{
    color: #846363;

}




/* History table deign */


.history_table_area{
    width: 100%;
    height: 100%;
    padding: 1em;
    border:2px solid #ffffffcf;
    border-radius: 20px;
    background-color: #f4f4f75a;
}
.main_title{
    font-size: 1.5em;
    font-weight: bold;
text-align: center;
}
.table_area{
    width: 100%;
    height: 80%;
    border: 2px solid #ffffffb5;
    border-radius: 15px;
    margin-top: 1.3em;
    padding: 0.5em;
    background-color:#0f5e6b5e ;
    overflow-y: scroll;

}

.table_history_data{
    margin-top: 1em;
    margin-left: 3.5em;
    width: 50em;
    height: 25em;
    padding: 2em;
    overflow-y: scroll;
   background-color: #ecfefea8;
   border-radius: 15px;
   border: 2px solid white;
   box-shadow: 0 0 50px #00000062;

  }
#main_table{
    width: 100%;
    height: 1em;
   
}


#main_table tr td{
    word-break: break-all;
    width: 5em;
    text-align: center;
   
}



::-webkit-scrollbar{
    width: 12px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    
}

::-webkit-scrollbar-track{
    border-radius:15px ;
    border: 1px solid blue;
    
}

::-webkit-scrollbar-thumb{
border-radius: 15px;

background-image: linear-gradient(0deg,#ff0000,#0000ff);
}
#all_download_btn{
    float: right;
}


#doctor_form{
   
    width: 100%;
    height: 4em;
    
    border-radius: 15px;

    padding: 0.5em;
    background-color: #0000ff;
    
}


select{
    background-color: #bbfbe8;
    font-weight: 500;

}
select option{
    background: #ceff84cb;
    font-weight: 500;
}

select option:checked{
    background-color: var(--sky);

}
#doctor_form select{
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
#doctor_form #go_btn{
    width: 2em;
    height: 2em;
    background-color: var(--white);
    border-radius: 2px;
 
    margin-left: 5px;
    cursor: pointer;
    border: none;
}



#table_doctor_avalibiality{
    display: none;
}

